<!DOCTYPE html>
<html>
	<head>
		<title>Chess Board</title>
	</head>
	<body>
		<table  align="center" background="https://miro.medium.com/max/640/1*wXS3u-3y2yPuKspRbEsMUg.gif" border="10px" height="750px" width="750px" cellspacing="0">
			<tr height="100px" align="center">
				<th>&#9820;</th>
				<th bgcolor="green">&#9822;</th>
				<th>&#9821;</td>
				<th bgcolor="green">&#9819;</th>
				<th>&#9818;</th>
				<th bgcolor="green">&#9821;</th>
				<th>&#9822;</th>
				<th bgcolor="green">&#9820;</th>
			</tr>
			<tr height="100px" align="center">
				<th bgcolor="green">&#9823;</th>
				<th>&#9823;</th>
				<th bgcolor="green">&#9823;</th>
				<th>&#9823;</th>
				<th bgcolor="green">&#9823;</th>
				<th>&#9823;</th>
				<th bgcolor="green">&#9823;</th>
				<th>&#9823;</th>
			</tr>
			<tr>
				<td></td>
				<td bgcolor="green"></td>
				<td></td>
				<td bgcolor="green"></td>
				<td></td>
				<td bgcolor="green"></td>
				<td></td>
				<td bgcolor="green"></td>
			</tr>
			<tr>
				<td bgcolor="green"></td>
				<td></td>
				<td bgcolor="green"></td>
				<td></td>
				<td bgcolor="green"></td>
				<td></td>
				<td bgcolor="green"></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td bgcolor="green"></td>
				<td></td>
				<td bgcolor="green"></td>
				<td></td>
				<td bgcolor="green"></td>
				<td></td>
				<td bgcolor="green"></td>
			</tr>
			<tr>
				<td bgcolor="green"></td>
				<td></td>
				<td bgcolor="green"></td>
				<td></td>
				<td bgcolor="green"></td>
				<td></td>
				<td bgcolor="green"></td>
				<td></td>
			</tr>
			<tr align="center" height="100px">
				<td><b>&#9817;</b></td>
				<td bgcolor="green"><b>&#9817;</b></td>
				<td><b>&#9817;</b></td>
				<td bgcolor="green"><b>&#9817;</b></td>
				<td><b>&#9817;</b></td>
				<td bgcolor="green"><b>&#9817;</b></td>
				<td><b>&#9817;</b></td>
				<td bgcolor="green"><b>&#9817;</b></td>
			</tr>
			<tr align="center" height="100px">
				<td bgcolor="green"><b>&#9814;</b></td>
				<td><b>&#9816;</b></td>
				<td bgcolor="green"><b>&#9815;</b></td>
				<td><b>&#9813;</b></td>
				<td bgcolor="green"><b>&#9812;</b></td>
				<td><b>&#9815;</b></td>
				<td bgcolor="green"><b>&#9816;</b></td>
				<td><b>&#9814;</b></td>
			</tr>
		</table>
	</body>
</html>