<!DOCTYPE html>
<html>
	<head>
		<title>Hosting</title>
	</head>
	<body>
		<table width="700px" align="center" cellspacing="0" bgcolor="#505656">	
			<tr height="20px">
				<td rowspan="2" width="100px">
					<img src="https://media.istockphoto.com/vectors/falling-drop-of-golden-oil-with-shiny-winds-precious-liquid-scin-care-vector-id1050096736?b=1&k=20&m=1050096736&s=170x170&h=9E26liBxeDQWF80LXxWAqLzUNx_3xbZAKdIw1e4PmBk=" height="150px" bgcolor="black"/>
				</td>
				<td width="50px" align="top">
					<h1><font color="#e5b527">Hosting</font>
				</td>
				<td colspan="5" align="right">
				<font color="#aaa58f">Tollfree:</font><font color="#e5b527">1800 203 2891</font><br/>
				<font color="#aaa58f">Localfree:</font><font color="#e5b527">1800 624 4125</font>
				</td>
			</tr>
			<tr>
				<td>
				<font color="#a0a09a" size="1px">free css templates</font>
				</td>
				<td height="50px">
					<a href="template2.html">
					<font color="#e5b527">Home</font></a>
				</td>
				<td height="50px">
					<a href="content/web.html">
					<font color="#e28d1d">Web hosting</font></a>
				</td>
				<td height="50px">
					<a href="content/vps.html">
					<font color="#e28d1d">vps hosting</font></a>
				</td>
				<td height="50px">
					<a href="content/services.html">
					<font color="#e28d1d">Dedicated servers</font></a>
				</td>
				<td height="50px">
					<a href="content/contact.html">
					<font color="#e28d1d">Contact</font></a>
				</td>
			</tr>
			<tr height="100px">
				<td colspan="5" bgcolor="#dd9b30">
					<table width="500px" cellspacing="0px">
						<tr>
							<td>
								<font color="white"><i>The cheapest and the Best hosting</i></font>
								<br/>
								<font color="white"><b>Unlimited Web hosting</b></font><br/>
								<font size="1"><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever.</p></font>
							</td>
						</tr>
						<tr>
							<td>
								<button>Sign Up</button>
								<style>
								button{background-color:yellow;
								boder:radius;}
								</style>
							</td>
						</tr>
					</table>
				</td>
				<td colspan="2">
					<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcz_8ZpwfycvsRMb1_XFFS_3jBzpoqM1TfAQ&usqp=CAU" height="180px"/>
				</td>
			</tr>
			<tr height="50px">
				<td colspan="2">
					<font color="#e5d75b">Web Hosting</font><br/>
					<font color="#82996f" size="1">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</font><br/>
					<font color="white" size="2">start from</font><font color="#e28d1d" size="2">$180/month</font><br/><br/>
				</td>
				<td colspan="3">
					<font color="#e5d75b">VPS Hosting</font><br/>
					<font color="#82996f" size="1">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</font><br/>
					<font color="white" size="2">start from</font><font color="#e28d1d" size="2">$39.95/month</font><br/><br/>
				</td>
				<td colspan="2">
					<font color="#e5d75b">Dedicated Servers</font><br/>
					<font color="#82996f" size="1">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</font><br/>
					<font color="white" size="2">start from</font><font color="#e28d1d" size="2">$5.95/month</font><br/><br/>
				</td>
			</tr>
			<tr height="70px">
				<td colspan="2" valign="top">
					<button>View Plan</button>
				</td>
				<td colspan="3" valign="top">
					<button>View Plan</button>
				</td>
				<td colspan="2" valign="top">
					<button>View Plan</button>
				</td>
			</tr><br/><br/><br/>
			<tr height="30px">
				<td colspan="2">
					<font color="white">What You Get</font><br/>
					<font color="#e28d1d" size="1"><i>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</i></font><br/>
					<font color="#82996f" size="1"><ul>
						<li>Nulla et urna ultrices</li>
						<li>Suspendisse</li>
						<li>Phasellus sollicitudin</li>
						<li>Donec fringilla auctor</li>
					</ul>
					</font>
				</td>
				<td colspan="3">
					<font color="white">Why we're Better</font><br/>
					<font color="#e28d1d" size="1"><i>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</i></font><br/>
					<font color="#82996f" size="1"><ul>
						<li>Nulla et urna ultrices</li>
						<li>Suspendisse</li>
						<li>Phasellus sollicitudin</li>
						<li>Donec fringilla auctor</li>
					</ul>
					</font>
				</td>
				<td colspan="2">
					<font color="white">About us</font><br/>
					<font color="82996f" size="2">Hostingis a free
					<a href="content/website template.html">website template</a>for everyone.
					you may edit and apply this template for any purpose.Credit goes to
					<a href="content/visualpharm.html">visualpharm</a>for icons.please support us.
					</font>
				</td>
			</tr>
			<tr>
				<td colspan="7" align="center">
					<marquee><font color="#82996f" size="1"><u>home|Hosting Features|contact|About us|Affliates|terms Copyright@2048 company name<u>-Designed by<u>Website templates</u></font></marquee>
				</td>
			</tr>
		</table>
	</body>
</html>