<!DOCTYPE html>
<html>
	<head>
		<title>Orange bond</title>
	</head>
	<body>
		<table width="800px" align="center" cellspacing="0">
			<tr bgcolor="#166daf">
				<td align="right" colspan="6">
					<button><font color="white"><font color="#acb5b7">search</font>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  
						<img src="https://cdn2.iconfinder.com/data/icons/website-6/100/loupe-256.png" height="15px"/>
					</button>
				</td>
			</tr>
			<tr align="center" bgcolor="#0a4e96">
				<td>
					<font color="white">ORANGE</font>
					<font color="#00ff19">BOND</font>
				</td>
				<td>
					<a href="template3.html"><font color="#00ff19">Home</font></a>
				</td>
				<td>
					<a href="content/about.html"><font color="white">About</font></a>
				</td>
				<td>
					<a href="content/website template.html"><font color="white">portfolio</font></a>
				</td>
				<td>
					<a href="content/services.html"><font color="white">Blog</font></a></a>
				</td>
				<td>
					<a href="content/contact.html"><font color="white">Contact</font></a>
				</td>
			</tr>
			<tr bgcolor="#166daf">
				<td width="300px" align="center">
					<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRleLms4Ajp-gh-7NR9_SOlevaHb--XpeHeHQ&usqp=CAU" height="150px"/>
				</td>
				<td colspan="6">
					<br/><font color="white" size="5px">&nbsp; &nbsp; &nbsp; Introduction Orange Bond</font><br/><br/>
					<font color="white"><i>&nbsp; &nbsp; &nbsp; Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br/>&nbsp; &nbsp; &nbsp; sed do eiusmod tempor incididunt ut labore et dolore magna <br/>&nbsp; &nbsp; &nbsp; aliqua. Ut enim ad minim veniam, quis nostrud exercitation <br/> &nbsp; &nbsp; &nbsp; ullamco laboris nisi ut aliquip ex ea commodo consequat.</i></font><br/><br/>
					&nbsp; &nbsp; &nbsp;<button>
						<font color="purple">learn more</font>
					</button><br/><br/><br/>
				</td>
			</tr>
			<tr bgcolor="#81c6b0">
				<td align="center">
					<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgfX88vtByj4fAyDFXjCwGjPujUZlgA10Bsw&usqp=CAU" height="25px"/>
				</td>
				<td colspan="2" align="center">
					<img src="https://cdn0.iconfinder.com/data/icons/switch-2/512/N_F012_02_SwichArtboard_1_copy_2-256.png" height="30px"/>
				</td>
				<td colspan="3" align="center">
					<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQX32JsTBPVJzTF6AoK6e3dxf-s4tBsmjL0oA&usqp=CAU" height="30px"/>
				</td>
			</tr>
			<tr bgcolor="#81c6b0">
				<td>
					<p>&nbsp; &nbsp; &nbsp; &nbsp; Orange Bond <a href="content/website template.html"><font color="red">Free website template</font></a><br/>&nbsp; &nbsp; &nbsp; &nbsp; for everyone.You may download, edit <br/>&nbsp; &nbsp; &nbsp; &nbsp;and use this template for your websites.</p>
				</td>
				<td colspan="2">
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.<p>
				</td>
				<td colspan="3">
					<p>de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact</p>
				</td>
			</tr>
			<tr bgcolor="#81c6b0">
				<td align="center">
					<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgfX88vtByj4fAyDFXjCwGjPujUZlgA10Bsw&usqp=CAU" height="30px"/>
				</td>
				<td colspan="2" align="center">
					<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYbXn71HSPod7q04kAqZOwsLMOhN3LWaSIrA&usqp=CAU" height="30px"/>
				</td>
				<td colspan="3" align="center">
					<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCNvcFLBYva66Tx5hu4gccRKjJLnHSePnxwg&usqp=CAU" height="30px"/>
				</td>
			</tr>
			<tr bgcolor="#81c6b0">
				<td>
					<p>&nbsp; &nbsp; &nbsp; &nbsp; Orange Bond <a href="content/website template.html"><font color="red">Free website template</font></a><br/>&nbsp; &nbsp; &nbsp; &nbsp; for everyone.You may download, edit <br/>&nbsp; &nbsp; &nbsp; &nbsp;and use this template for your websites.</p>
				</td>

				<td colspan="2">
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.<p>
				</td>
				<td colspan="3">
					<p>de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact</p>
				</td>
			</tr>
			<tr bgcolor="#a0bab9">
				<td>
					<font color="white">popular links</font><br/>
					<font color="#82996f" size="1">
					<ul type="none">
						<li>Flash Gallery</li>
						<li>css Templates</li>
						<li> Web Design</li>
						<li>Premium Themes</li>
						<li>Web Development</li>
					</ul>
					</font>
				</td>
				<td colspan="4">
					<font color="white">Recent Posts</font><br/>
					<font color="#82996f">Lorem Ipsum is simply dummy text of the printing<br/>Lorem Ipsum has been the industry's standard.<br/>de Finibus Bonorum et Malorum" by Cicero
					</font>
				</td>
				<td colspan="3">
					<font color="white">About us</font><br/>
					<font color="82996f" size="2">orange bond is a free
					<a href="content/website template.html">website template</a>for everyone.
					you may edit and apply this template for any purpose.
					<a href="content/visualpharm.html">visualpharm</a>
					</font>
					<img src="images/social.png"/height="25px">
				</td>
			</tr>
			<tr bgcolor="#777f7e">
				<td colspan="7" align="center">
					<marquee><font color="#3cbcbc" size="1"><u>home|Orange bond|contact|About us|Affliates|terms Copyright@2048 company name<u>-Designed by<u>Website templates</u></font></marquee>
				</td>
			</tr>
			<tr bgcolor="#10e2ed">
				<td colspan="4">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/NNntxL1-5A0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</td>
				<td colspan="3">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23042.502712430694!2d76.97426883800067!3d12.99339183198441!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bafc57d228530bb%3A0xfb0821d8be30ce55!2sKullanajipalya%2C%20Karnataka%20572130!5e1!3m2!1sen!2sin!4v1661755473468!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"height="200px" width="300px"></iframe>
				</td>
			</tr>
		</table>
	</body>
</html>