<!DOCTYPE html>
<html>
	<head>
		<title>css template</title>
		<link rel="stylesheet" href="mtemplate1.css" />
		<style>
			body{background:#c0d8d6;
			border:2px;
			width:1200px;
			height:2000px;
			}
		</style>
	</head>
	<body>
		<div>
			<div id="header1">
				<div id="box_1"></div>
				<div id="box_2"></div>
				<div class="box_3"></div>
				<div class="box_3"></div>
				<div class="box_3"></div>
				<div class="box_3"></div>
				<div class="box_3"></div>
				<div class="box_3"></div>
			</div>
			<div id="header2">
				<div id="table">
					<div id="tr1">
						<div class="td1"></div>
						<div class="td1"></div>
						<div class="td1"></div>
						<div class="td1"></div>
						<div id="td_1"></div>
					</div>
				</div>
			</div>
			<div id="header3">
				<div id="tr2">
					<div class="td2">
						<div>
							<div class="td_2"></div>
						</div>
					</div>
					<div class="td2">
						<div>
							<div class="td_2"></div>
						</div>
					</div>
					<div class="td2">
						<div>
							<div class="td_2"></div>
						</div>
					</div>
				</div>
			</div>
			<div id="header4">
				<div id="tr3">
					<div id="td11">
						<div>
							<div class="td_14"></div>
						</div>
						</div>
					<div id="td12">
						<div>
							<div class="td_23"></div>
						</div>
					</div>
					<div id="td13">
						<div>
							<div class="td_23"></div>
						</div>
					</div>
					<div id="td14">
						<div>
							<div class="td_14"></div>
						</div>
					</div>
				</div>
			</div>
			<div id="header5">
				<div id="tr5">
					<div class="td5">
						<div>
							<div class="td_5"></div>
						</div>
					</div>
					<div class="td5">
						<div>
							<div class="td_5"></div>
						</div>
					</div>
					<div class="td5">
						<div>
							<div class="td_5"></div>
						</div>
					</div>
				</div>
			</div>
			<div id="header6">
				<div id="tr6">
					<div>
						<div class="td_6"></div>
					</div>
				</div>
			</div>
			<div id="header7">
				<div>
					<div class="td7"></div>
				</div>
			</div>
		</div>
	</body>
</html>